@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Oswald);

*{
	padding: 0;
	margin: 0;
}
body {
	color: #010062;
	background-color: #E4DEFF;
	font-family: 'PT Mono';
	font-size: 16px;
	padding: 30px;
	line-height: 2em;
}
header {
	background-color: #FFED74;
}
nav {
	background-color: #E8C66A;
}
aside {
	background-color: #FFC675;
}
article {
	background-color: #E89C6C;
}
footer {
	background-color: #FF957E;
}
div, section {
	background-color: #FFE2B8;
}
h1,h3 {
	font-family: 'Oswald', sans-serif;
}
h1 {
	font-size: 7.75em;
	text-align: center;
	letter-spacing: 4px;
	padding: 74px;
}
p {
	margin: 1em auto;
	text-align: center;
}
a {
	color: inherit;
}
#logo {
	width: 200px;
	display: block;
	margin: 0 auto;
}
#slogan {
	text-align: center;
	padding: 1em;
}
#tagline {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	padding-top: 2em;
}
#about {
	width: 20em;
}
.vision {
	width: 40em;
}
ul {
	padding-left: 20px;
}